@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url('https://tropix126.github.io/BetterDiscordStuff/blockBetterDocs.css');
@import url('https://codedotspectra.github.io/themes/mini-themes/statusRounded.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');
::selection {background:var(--main-color-faded) !important;}
/*
Orginal datei von Tropical

TABLE OF CONTENTS

1. Background and Sizing
  1.a. Main Background
  1.b. Spacing
  1.c. General Transparency
  1.d. Light Mode Blocker

2. Titlebar
  2.a. Main Titlebar
*/
/*1.d. Light Mode Blocker (Based on MasicoreLord's Light Theme blocker, taken with permission). */
.theme-light .layer-3QrUeG:first-of-type::before {
  content: "Entschuldigung, aber der Light-Modus wird in Hina Amano noch nicht unterstützt. :( ~LeonGamer_HD";
  text-align:center;
  width: 500px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background:rgba(0,0,0,0.75);
  border:1px solid rgba(0,0,0,0.5);
  box-shadow:0 0 12px black;
  color:#fff;
  padding: 20px;
  padding-bottom:80px;
  border-radius: 5px;
}
.app-2rEoOp.vertical-V37hAW.theme-light .container-2Thooq > .noWrap-3jynv6 > .button-2b6hmh {
  position: absolute;
  left: 50%;
  border-radius:3px;
  top: 45%;
  transform: translate(-50%, 120%);
  width: 180px;
  height: 40px;
  visibility: visible !important;
  background: var(--main-color) !important;
  box-shadow:0 0 12px black;
  opacity:1;
}
.app-2rEoOp.vertical-V37hAW.theme-light .container-2Thooq > .noWrap-3jynv6 > .button-2b6hmh:before {
  position: absolute;
  content: "Dunklen Modus einschalten";
  padding:20px;
  width:200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
.theme-light .side-8zPYf6 .item-PXvHYJ:nth-of-type(19) {
    border:2px solid var(--hover-color);
    color:var(--hover-color);
    background:var(--main-color-faded);
    padding:16px;
    text-align:center;
}
.theme-light .layer-3QrUeG {
  background:var(--backdropblurred) !important;
  background-size:cover !important;
}
.theme-light .layer-3QrUeG:first-of-type * {
  visibility:hidden;
}
/*============== END OF SECTION ============== */

/*2. Titlebar*/
/*2.a. Main Titlebar*/
.wordmark-2iDDfm:after {
	content:'Discord Hina Amano v1.0';
	position: absolute !important;
	left: 5px;
	width: 100vw;
	font-family:'Satisfy';
	color: rgba(255,255,255,0.8);
	font-size: 19px;
	font-weight:bold;
}

/*Gemacht mit ♥ von Tropical und der Derealised Community.
Vielen Dank auch an DevilBro, dass ich seine SVGs verwenden durfte, um das Theme zu verbessern!
Übersetzung von LeonGamer_HD.
Anpassung von LeonGamer_HD.*/
