@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url('https://tropix126.github.io/BetterDiscordStuff/blockBetterDocs.css');
@import url('https://codedotspectra.github.io/themes/mini-themes/statusRounded.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');
/*
Orginal datei von Tropical

TABLE OF CONTENTS

1. Titlebar
  1.a. Main Titlebar
*/
/*1. Titlebar*/
/*1.a. Main Titlebar*/
.wordmark-2iDDfm:after {
	content:'Discord Hina Amano v1.0';
	position: absolute !important;
	left: 5px;
	width: 100vw;
	font-family:'Satisfy';
	color: rgba(255,255,255,0.8);
	font-size: 19px;
	font-weight:bold;
}

/*Gemacht mit ♥ von Tropical und der Derealised Community.
Vielen Dank auch an DevilBro, dass ich seine SVGs verwenden durfte, um das Theme zu verbessern!
Übersetzung von LeonGamer_HD.
Anpassung von LeonGamer_HD.*/
